.homepage {
    min-height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin-left:100px;
  }
  
  .title h1 {
    font-size: 2.25rem;
    font-weight: 500;
    max-width: 500px;
    color:#102A43;
    line-height: 44px;
  }
  
  .subtitle {
    font-size: 1rem;
    color:#627D98;
    margin-top: 8px;
    max-width:495px;
  }
  
  .btn {
    font-size: 1.0rem;
    padding: 0.1rem 1.0rem;
    text-transform: uppercase;
    margin-top: 15px;
    background-color: #3B82F6;
    color: white;
    border-style: none;
    border-radius: 4px;

  }
  
  @media screen and (min-width: 768px) {
    .title h1 {
      font-size: 2.25rem;
    }
  
    .subtitle p {
      font-size: 0.95rem;
    }
    .img {
      display: block;
      width: 100%;
      margin-left: -1rem;
      margin-bottom: 4rem;
      display: flex;
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .content h1 {
      font-size: 3rem;
    }
  
    .content p {
      font-size: 1.25rem;
    }
    .imageContainer {
      margin-left: 0;
    }
  }
  .jethalal img
{
  margin-top:90px;
  width:224.5px;
  /*border: 2px solid black;*/
  float: left;
}
